.app {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.app.light {
  background: linear-gradient(to top,#000000,#093c6d); 
  color: white;
}

.app.dark {
  background: linear-gradient(to top,#000000, #310091);
  color: white;
}


.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.controls input[type="range"] {
  margin: 0 10px;
  width: 150px;
}
.song-info {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.song-info img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.album-art {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
